name: CI Database

on: [pull_request]

permissions:
  contents: read

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"
          cache: true

      - name: Download deps
        run: |
          go mod download
          go mod verify

      - name: Test
        run: go test ./...

      - name: Vet
        run: go vet ./...
