name: CI

on: [push, pull_request]
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"
      # - name: Install dependencies
      #   run: go mod download
      - name: Test (unit)
        run: go test ./...

      - name: Run Vet
        run: go vet ./...